<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction to WebRTC</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/main.js"" defer></script>
  </head>
  <body>
    <div>
      Video source:
      <select id="camera"></select>
    </div>
    <br />
    <div>
      Audio input source:
      <select id="audioSource"></select>
    </div>
    <br />
    <div><video></video></div>
    <div id="errorMsg"></div>
  </body>
</html>
