<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction to WebRTC</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <video autoplay></video>

    <script>
      navigator.getUserMedia =
        navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia;

      const constraints = { audio: true, video: true };
      const videoArea = document.querySelector("video");

      const onSuccess = (stream) => {
        console.log("Success! We have a stream!");
        videoArea.srcObject = stream;
        videoArea.play();
      };

      const onError = (error) => {
        console.log("Error with getUserMedia: ", error);
      };

      navigator.getUserMedia(constraints, onSuccess, onError);
    </script>
  </body>
</html>
