:host::ng-deep {
  .p-card-content {
    margin: 0 auto;
    width: 47%;
  }

  .pi {
    font-size: 10px;
  }
}

.chat-login-wrapper {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.chat-wrapper {
  display: flex;
}

.left-side {
  width: 30%;
  margin-top: 20px;
}

.right-side {
  margin-top: 20px;
  margin-left: 20px;
  width: 70%;
}

.right-side-header {
  background: #f8f9fa;
  color: #495057;
  border: 1px solid #dee2e6;
  padding: 1rem;
  border-bottom: 0 none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-weight: 600;
}

.right-side-chat-area {
  color: #495057;
  border: 1px solid #dee2e6;
  padding: 1rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  height: 522px;
  background: #e3f2fd;
}

.right-side-header-text {
  font-size: 80%;
  letter-spacing: 1px;
}

.user-selected {
  font-size: 125%;
  letter-spacing: normal;
}

.current-user {
  float: right;
}

.sign-out-button {
  height: 22px !important;
  width: 22px !important;
}

img {
  width: 20px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  position: relative;
  border-radius: 50%;
  top: 3px;
}

.messages-list {
  height: 440px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.message-left {
  background: white;
  border-radius: 0px 20px 20px 20px;
  border: 1px solid #d5deeb;
  color: black;
  margin: 5px;
  padding: 8px;
  width: 60%;
  float: left;
}

.message-right {
  background: white;
  border-radius: 20px 00px 20px 20px;
  border: 1px solid #d5deeb;
  color: black;
  margin: 5px;
  padding: 8px;
  width: 60%;
  float: right;
  margin-right: 15px;
}
