<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>socket.io Practical Bootcamp</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/socket.io/socket.io.js" defer></script>
    <script type="module" src="/js/main.js" defer></script>
  </head>
  <body>
    <div class="main_container">
      <div class="introduction_page">
        <div class="introduction_page_box">
          <input
            type="text"
            class="introduction_page_name_input"
            placeholder="Enter your name..."
          />
          <button
            class="introduction_page_enter_chat_button"
            id="enter_chats_button"
          >
            Enter chat page
          </button>
        </div>
      </div>
      <div class="chat_page display_none">
        <p class="username_label"></p>
        <div class="chatboxes_container">
        </div>
      </div>
    </div>
  </body>
</html>
